<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Card</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
  <div class="card">
    <img src="images/check_list.png" alt="Card Image">
    <div class="card-content">
      <h2 class="card-title">Static Page Hosting</h2>
      <p class="card-description">We Are Here To Host Your Page.</p>
    </div>
  </div>


  <div class="card">
    <img src="images/check_list.png" alt="Card Image">
    <div class="card-content">
      <h2 class="card-title">Dynamic Page Hosting</h2>
      <p class="card-description">We Are Here To Host Your Page.</p>
    </div>
  </div>

  <div class="card">
    <img src="images/check_list.png" alt="Card Image">
    <div class="card-content">
      <h2 class="card-title">API Hosting</h2>
      <p class="card-description">We Are Here To Host Your Page.</p>
    </div>
  </div>
</div>

  <div class="b-container">
   <button class="button"><a href="#" class="button-link">Learn More About Our Services</a></button>
  </div>
  
</body>
</html>