<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="buttons">
      <button class="S-button">₹5</button>
      <button class="S-button">₹10</button>
      <button class="S-button">₹15</button>
      <button class="S-button">₹20</button>
      <button class="S-button">₹25</button>
      <button class="S-button">Other</button>
  </div>
  <script src="script.js"></script>
</body>

</html>